
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: "Press Start 2P";
}
/* .home-page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
} */

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 68px;
}

.h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-weight: 901;
  color: #333;
  background-color: #fff;
  font-size: 48px;
  padding: 10px 20px;
}

#homepage-template {
    height: 600px;
    width: 100%;
    background-color: black;
    margin-top: 0px;
}


/* ----------------------------- */

.container {
    position: relative;
    text-align: center;
    margin-top: 60px;
    height: 100vh;
}

#title-pic {
    filter: brightness(40%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 20px 60px #531603;
    
}

.title-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.5vw;
    color: #E5FCC2;
    transition: color 0.5s;
}  

.title-text:hover
{
  color: #b73710;
}

#jedi-sith {
    background-image: linear-gradient(black 60%,#531603);
    height: 600px;
    margin-top: -2px;
    width: 100%;

}

#darkside-template {
  height: 800px;
  background-image: linear-gradient(#531603 60%,black);
  width: 70%;
  position: absolute;
}

#darkside-pic
{
  height: 800px;
  width: 40%;
  transform: translate(149%,0%);
  filter: brightness(100%);
  box-shadow: -30px -30px 100px black;
}

.darkside-text1
{
  margin-left: 100px;
  margin-top: 100px;
  font-size: 45px;
  width: 550px;
  height: 450px;
  text-align: center;
  color: white;
  box-shadow: 20px 20px 20px black;
  padding-top: 50px;
  
}

.instant-text
{
  font-weight: bold;
  font-size: 30px;
}

.passion-text
{
  font-weight: bold;
  font-size: 57px;
  color:#b73710;
}

#group-pic
{
    width: 100%;
}

#problem-section
{
    height: 1200px;
    width: 100%;
    background-image: black;
}

#problem-text
{
    width: 70%;
    height: 1000px;
    background-color: white;
    margin-left: 15%;
    margin-top: 130px;
    background-color: black;
    box-shadow: 0 0px 300px rgba(249, 101, 101, 0.4);
}

#word-text
{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

#classes-input
{
    height: 50px;
    width: 500px;
    background-color: white;
    margin-left: 250px;
    margin-top: 100px;
    border: 5px solid black;
    padding-left: 10px;
}

#output
{
    margin-top: 50px;
    margin-left: 150px;
    height: 500px;
    width: 700px;
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
    border: 5px solid black;
    box-shadow: 0 0px 300px rgba(249, 101, 101, 0.4);
    overflow: auto;
}

#g6-description
{
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 0px;
}

#Our-story
{
    height: 400px;
    width: 1200px;
    margin-left: 120px;
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
    line-height: 50px;
}

.myButton:hover
{
  opacity: 0.5;
}

#my-Button
{
    background-color: black;
    color: white;
    margin-left: 430px;
    margin-top: 50px;
    transition: opacity 0.15s;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 15px white;

}

/* StarWars Logo */

.parent-div
{
  margin-top: 50px;
    
}

.stars {
  animation: star 10s ease-out infinite;
}

.stars {
  animation: star 10s ease-out infinite;
  height: 200px;
  width: 500px;
  margin-top:470px;
}


.wars {
  animation: star 10s ease-out infinite;
}

.wars {
  height: 200px;
  width: 500px;
  margin-top: 950px;
}

.byline span{
  animation: spin-letters 10s ease-out infinite;
}

.byline {
  animation: move-byline 10s ease-out infinite;
}

.byline {
  margin-top:265px;
  color: #fff;
  font: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
  position: fixed;

}

.starslogo,.stars,.wars,.byline{
  position: absolute;
}

#home-text
{
    height: 700px;
    width: 100%;
    background-color: white;
}

.home-intro 
{
    height: 700px;
    width: 100%;
    background-color: black;
    position: relative;
    
}

#black-text
{
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 100px;

}

#white-text
{
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 100px;
    padding-right: 200px;
    color: white;
    line-height: 50px;
}

